<p>{{firstName}}</p>
<p>{{lastName}}</p>
<p>{{email}}</p>

{{#if answers}}
<p>Youve answered the questions!</p>
{{else}}
<p>Please Answer the questions.</p>
<form action="/submitQuestions/{{id}}" method="post">
    <p>Do you have more experience in front end or back end web development?</p>
    <select class="chosen-answer" id="one">
        <option value=""></option>
        <option value="1">less than 1</option>
        <option value="2">1 to 5</option>
        <option value="3">6 to 10</option>
        <option value="4">11 to 15</option>
        <option value="5">15 plus</option>
    </select>
    <br>
    <p>How many years of experience do you have in SQL?</p>
    <select class="chosen-answer" id="two">
        <option value=""></option>
        <option value="1">less than 1</option>
        <option value="2">1 to 5</option>
        <option value="3">6 to 10</option>
        <option value="4">11 to 15</option>
        <option value="5">15 plus</option>
    </select>
    <br>
    <p>How many years of experience do you have in Java?</p>
    <select class="chosen-answer" id="three">
        <option value=""></option>
        <option value="1">less than 1</option>
        <option value="2">1 to 5</option>
        <option value="3">6 to 10</option>
        <option value="4">11 to 15</option>
        <option value="5">15 plus</option>
    </select>
    <br>
    <p>How many years of experience do you have in JavaScript?</p>
    <select class="chosen-answer" id="four">
        <option value=""></option>
        <option value="1">less than 1</option>
        <option value="2">1 to 5</option>
        <option value="3">6 to 10</option>
        <option value="4">11 to 15</option>
        <option value="5">15 plus</option>
    </select>
    <br>
    <p>How many years of experience do you have in C#?</p>
    <select class="chosen-answer" id="five">
        <option value=""></option>
        <option value="1">less than 1</option>
        <option value="2">1 to 5</option>
        <option value="3">6 to 10</option>
        <option value="4">11 to 15</option>
        <option value="5">15 plus</option>
    </select>
    <br>
    <p>How many years of experience do you have in C++?</p>
    <select class="chosen-answer" id="six">
        <option value=""></option>
        <option value="1">less than 1</option>
        <option value="2">1 to 5</option>
        <option value="3">6 to 10</option>
        <option value="4">11 to 15</option>
        <option value="5">15 plus</option>
    </select>
    <br>
    <p>How many years of experience do you have in Python?</p>
    <select class="chosen-answer" id="seven">
        <option value=""></option>
        <option value="1">less than 1</option>
        <option value="2">1 to 5</option>
        <option value="3">6 to 10</option>
        <option value="4">11 to 15</option>
        <option value="5">15 plus</option>
    </select>
    <br>
    <p>How many years of experience do you have in PHP?</p>
    <select class="chosen-answer" id="eight">
        <option value=""></option>
        <option value="1">less than 1</option>
        <option value="2">1 to 5</option>
        <option value="3">6 to 10</option>
        <option value="4">11 to 15</option>
        <option value="5">15 plus</option>
    </select>
    <br>
    <p>How many years of experience do you have in Ruby on Rails?</p>
    <select class="chosen-answer" id="nine">
        <option value=""></option>
        <option value="1">less than 1</option>
        <option value="2">1 to 5</option>
        <option value="3">6 to 10</option>
        <option value="4">11 to 15</option>
        <option value="5">15 plus</option>
    </select>
    <br>
    <p>How many years of experience do you have in IOS/Swift?</p>
    <select class="chosen-answer" id="ten">
        <option value=""></option>
        <option value="1">less than 1</option>
        <option value="2">1 to 5</option>
        <option value="3">6 to 10</option>
        <option value="4">11 to 15</option>
        <option value="5">15 plus</option>
    </select>
    <br>
    <br>
    <input type="submit">
</form>
{{/if}}